<style>
    .svg-container {
        position: relative;
        height: 0;
        width: 100%;
        padding: 0;
        padding-bottom: 100%;
    }

    .svg-content {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .nametag-perspective {
        display: block;
        transform: perspective(2200px) rotateX(45deg) scale(.96);
        -ms-transform: perspective(2200px) rotateX(45deg) scale(.96);
        -moz-transform: perspective(2200px) rotateX(45deg) scale(.96);
        -o-transform: perspective(2200px) rotateX(45deg) scale(.96);
        -webkit-transform: perspective(2200px) rotateX(45deg) scale(.96);
        -webkit-transform-style: preserve-3d;
        width: 548px;
        height: 306px;
    }

</style>



<div id="nametagFront" style="background:#ccc; padding-top:75px;padding-bottom: 75px;" >

    <svg class="center-block" id="drawingArea" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1308 736" width="548" height="306" >
        <rect x="0" y="0" height="736" width="1308" fill="yellow" ng-if="false"></rect>
        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" ng-href="/images/shadows/<%ctrl.getSize().value%>.png" width="100%" height="100%"></image>
        <image ng-if="!ctrl.isBevel()"
                xlink:href="" ng-href="/images/base2/<%ctrl.getMaterial().value%>/<%ctrl.getSize().base%>/<%ctrl.getColor().base%>/<%ctrl.getCorner()%>.png" width="100%" height="100%"></image>
        <image ng-if="ctrl.isBevel()"
               xlink:href=""
               ng-href="/images/base2/<%ctrl.getMaterial().value%>/<%ctrl.getSize().base%>/bevel/<%ctrl.getSize().tall%>/<%ctrl.getColor().base%>.png" width="100%" height="100%"></image>
        <image xlink:href="" ng-href="/images/faces/<%ctrl.getMaterial().value%>/<%ctrl.getSize().value%>/<%ctrl.getCorner()%>/<%ctrl.getColor().face%>.png" width="100%" height="100%"></image>
    </svg>

    <div class="nametag-perspective center-block" style="margin-top: -350px">
        <svg class="center-block" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1308 736" width="548" height="306">
            <image
                id="myBackground"
                ng-if="ctrl.isFullBleed && !ctrl.isEngraved() && ctrl.selectedPage != 'back'"
                xlink:href="<%ctrl.getBackgroundUrl()%>"
                ng-attr-x="<%ctrl.getBackgroundXPosition()%>"
                ng-attr-y="<%ctrl.getBackgroundYPosition()%>"
                ng-attr-height="<%ctrl.getBackgroundHeight()%>"
                ng-attr-width="<%ctrl.getBackgroundWidth()%>"
                preserveAspectRatio="xMaxYMax"
                mask="url(#maskNametag)" >
            </image>
            <rect
                ng-if="ctrl.isFullBleed && !ctrl.isEngraved() && ctrl.myNametag.background.color"
                ng-attr-x="<%ctrl.getBackgroundXPosition()%>"
                ng-attr-y="<%ctrl.getBackgroundYPosition()%>"
                ng-attr-height="<%ctrl.getBackgroundHeight()%>"
                ng-attr-width="<%ctrl.getBackgroundWidth()%>"
                ng-attr-fill="<%ctrl.myNametag.background.color%>"
                mask="url(#maskNametag)">
            </rect>
            <image id="myLogo"
                   ng-if="ctrl.selectedPage != 'back'"
                   ng-show="ctrl.hasImage"
                   xlink:href="<%ctrl.getLogoURL()%>"
                   ng-attr-x="<%ctrl.getLogoXPosition()%>"
                   ng-attr-y="<%ctrl.getLogoYPosition()%>"
                   ng-attr-height="<%ctrl.getLogoHeight()%>"
                   ng-attr-width="<%ctrl.getLogoWidth()%>"
                   preserveAspectRatio="xMaxYMax"
                   mask="url(#maskNametag)" >
            </image>
            <defs>
                <mask id="maskNametag">
                    <rect
                            ng-attr-x="<%ctrl.getXShift()%>"
                            ng-attr-y="<%ctrl.getYShift()%>"
                            ng-attr-width="<%ctrl.config.selectedSize.width * ctrl.dpi%>"
                            ng-attr-height="<%(ctrl.config.selectedSize.height * ctrl.dpi)%>"
                            ng-attr-rx="<%ctrl.config.selectedCorner.rounded %>"
                            ng-attr-ry="<%ctrl.config.selectedCorner.rounded %>"
                            fill="white">
                    </rect>
                    <!--These circles are used to clip out any notched corners -->
                    <circle ng-if="ctrl.config.selectedCorner.value == 'notch_.25'" ng-attr-r="<%71.5%>" ng-attr-cx="<%ctrl.getXShift()%>" ng-attr-cy="<%ctrl.getYShift()%>" fill="black"></circle>
                    <circle ng-if="ctrl.config.selectedCorner.value == 'notch_.25'" ng-attr-r="<%71.5%>" ng-attr-cx="<%ctrl.getXShift() + ctrl.config.selectedSize.width * ctrl.dpi%>" ng-attr-cy="<%ctrl.getYShift()%>" fill="black"></circle>
                    <circle ng-if="ctrl.config.selectedCorner.value == 'notch_.25'" ng-attr-r="<%71.5%>" ng-attr-cx="<%ctrl.getXShift() + ctrl.config.selectedSize.width * ctrl.dpi%>" ng-attr-cy="<%ctrl.getYShift() + ctrl.config.selectedSize.height * ctrl.dpi%>" fill="black"></circle>
                    <circle ng-if="ctrl.config.selectedCorner.value == 'notch_.25'" ng-attr-r="<%71.5%>" ng-attr-cx="<%ctrl.getXShift()%>" ng-attr-cy="<%ctrl.getYShift() + ctrl.config.selectedSize.height * ctrl.dpi%>" fill="black"></circle>
                </mask>
            </defs>

            <text
                  ng-if="ctrl.selectedPage != 'back'"
                  ng-repeat="n in ctrl.repeat(ctrl.linesSelected - 1) track by $index"
                  ng-attr-font-size="<%ctrl.getLineConfig($index).size + 'px'%>"
                  ng-attr-style="<%'text-anchor: ' +  ctrl.getLineConfig($index).horizontalAlign%>"
                  ng-attr-font-family="<%ctrl.getLineConfig($index).font%>"
                  ng-attr-fill="<%ctrl.getFontColorForLine()%>"
                  ng-attr-x="<%ctrl.getXTextPosition($index)%>"
                  ng-attr-y="<%ctrl.getYTextPosition($index)%>"
                  mask="url(#maskNametag)">
                <%ctrl.currentTag[$index] ? ctrl.currentTag[$index] : "[Line " + ($index+1) + "]"%>
            </text>
            <!-- 1/8" Hole when HOLE is selected -->
            <rect
                    ng-if="ctrl.selectedBacking.url == 'slot'"
                    ng-attr-y="<%ctrl.getYShift() + (1/4) * 286  %>"
                    ng-attr-x="<%(ctrl.config.selectedSize.width / 2 + ctrl.getXShift()) - (300) %>"
                    ng-attr-rx="<%1/16 * 286%>"
                    ng-attr-ry="<%1/16 * 286%>"
                    ng-attr-width="<%.563 * 286%>"
                    ng-attr-height="<%(1/8) * 286%>"
                    fill="#ccc" stroke="black" stroke-dasharray="5,5" stroke-width="3">

            </rect>
            <!-- Slot Punch when slot punch or loop snap is selected -->
        </svg>
    </div>

    <div  style="margin-top: -306px; height: 306px; position: relative;">
        <svg version="1.1" id="Svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1308 736" width="548" height="306">
            <image ng-if="ctrl.selectedPage == 'back' && ctrl.selectedBacking.url != 'none' && ctrl.selectedBacking.url != 'slot'"
                   xlink:href="<%'/images/backing/' + ctrl.selectedBacking.url + '.png'%>"
                   ng-attr-y="<%ctrl.config.selectedSize.backingOffset%>"
                   width="1538"
                   height="736">
            </image>
        </svg>
    </div>
</div>
